<div class="x-icomoon" style="display: none"></div>

<div class="animated fadeInLeft module-sidebar">
    <a href="https://github.com/manuelvulp/spa-boilerplate" target="_blank">
        <div class="item">
            <svg class="icon">
                <use xlink:href="#icon-github3"></use>
            </svg>
        </div>
    </a>

    <a href="https://github.com/manuelvulp/spa-boilerplate/issues" target="_blank">
        <div class="item">
            <svg class="icon">
                <use xlink:href="#icon-bug"></use>
            </svg>
        </div>
    </a>
</div>

<div class="js-content">

</div>