<div class="js-icomoon" style="display: none"></div>

<div class="animated fadeInLeft module-sidebar">
    <div class="item js-spinner">
        <svg class="icon animation-spin">
            <use xlink:href="#icon-spinner2"></use>
        </svg>
    </div>

    <a class="js-repository" href="#" target="_blank">
        <div class="item animated link" style="display: none">
            <svg class="icon">
                <use xlink:href="#icon-github3"></use>
            </svg>
        </div>
    </a>

    <a class="js-issues" href="#" target="_blank">
        <div class="item animated link" style="display: none">
            <svg class="icon">
                <use xlink:href="#icon-bug"></use>
            </svg>
        </div>
    </a>
</div>

<div class="content animated"></div>